/* Universal Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 30px;
    background-color: #FFF8F3
}

.container {
    width: 75%;
    max-width: 1140px;
    margin: 0 auto;
    display: block
}

/* Shared Styles */

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: flex;
    gap: 50px;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: #474747;
    font-size: 20px;
    font-weight: 400;
    transition: all 0.3s ease;
}

header nav ul li a:hover {
    color: #FD6E0A;
}

/* Normal Styles */

.orange {
    color: #FD6E0A;
}

header{
    padding-top: 50px;    
}

.logo {
    font-size: 45px;
    line-height: auto;
    font-weight: 900;
}

.btn {
    padding: 18px 36px;
    background-color: #FD6E0A;
    font-size: 20px;
    line-height: auto;
    font-weight: 700;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #181818;
    cursor: pointer;
}