/* Universal Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    background-color: #FFF8F3
}

.container {
    width: 75%;
    max-width: 1140px;
    margin: 0 auto;
    display: block
}

h2 {
    font-size: 45px;
    line-height: 1;
    font-weight: 600;
    color: #181818;
    margin-bottom: 5px;
}

/* Shared Styles */

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: flex;
    gap: 50px;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: #474747;
    font-size: 20px;
    font-weight: 400;
    transition: all 0.3s ease;
}

header nav ul li a:hover {
    color: #FD6E0A;
}

.btn a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #ffffff;
}

.btn-secondary a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #FD6E0A;
}

.hero h2 {
    font-size: 45px;
    line-height: 1;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}

.hero h1 {
    font-size: 85px;
    line-height: 1;
    font-weight: 700;
    color: #181818;
    margin-bottom: 20px;
}

.hero p {
    color: #757575;
    margin-bottom: 40px;
}

/* Normal Styles */

.orange {
    color: #FD6E0A;
}

header {
    padding-top: 50px 0;
}

.logo {
    font-size: 45px;
    line-height: auto;
    font-weight: 900;
}

.btn {
    padding: 18px 36px;
    background-color: #FD6E0A;
    font-size: 20px;
    line-height: auto;
    font-weight: 700;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #181818;
    cursor: pointer;
}

.hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: left;
    max-width: 585px;
}

.btn-secondary {
    padding: 18px 24px;
    background-color: transparent;
    font-size: 20px;
    line-height: auto;
    font-weight: 700;
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.btn-secondary:hover {
    background-color: #181818;
    cursor: pointer;
    border: 1px solid #181818;
}

.hero-buttons {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20px;
}

.about{
    background-color: #ffffff;
    padding-top: 130px;
}

.about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 130px 156px;
    text-align: center;
    background-color: #FFF8F3;
    border-radius: 10px;
}

.my-info {
    font-size: 20px;
    line-height: 30px;
    color: #757575;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.info-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.info-item .bold {
    font-weight: 700;
    color: #181818;
}